data/
build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
.browse.VC*
.vscode
cmake-build-*/
.vs

mysql_data/
sqldata/
configs/
TDB_full_hotfixes_434.22011_2022_01_09.sql
TDB_full_world_434.22011_2022_01_09.sql
Dockerfile
docker-compose.yml
README_DOCKER.md
setup.sql

